/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/templates/scrolling-nav)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

/* navbar */
.bg-light{
  background: transparent !important;
  transition: 0.5s ease;
}
.bg-light.scrolled{
  background: white !important;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 110px 0;
}

section #gifs{
  padding-bottom: 120px;
  padding-top: 240px;
  }

#about{
  padding-bottom: 50px;
  padding-top: 200px;
}
#stockh3{
  text-align: center;
}
#stock2_2{
  text-align: center;
}
#stockp{
  text-align: center;
}
#stockarea{
  text-align: center;
}

#gifButtons{
  margin-bottom: 15px;
}
#shuffleButton{
  margin-bottom: 15px;
}
header{
  background-color: #a58a6c;
}
#about{
  background: url('../img/axiom-pattern.png'),linear-gradient(to left, #003326, #005e4e);
}
#about h1{
  font-family: nunito, sans-serif;
  color: white;
}
#about h2{
  font-family: nunito, sans-serif;
  color: white;
}#about h3{
   font-family: nunito, sans-serif;
   color: white;
 }#about p{
    font-family: nunito, sans-serif;
    color: white;
  }#about a{
     font-family: nunito, sans-serif;
     color: white;
   }

  #stockfoto{
    width:100% !important;
    height: auto !important;
  }
#KontaktTitle{
  color: black;
}
#KontaktP{
  color: black;
}
#Kontakt{
  background-color: #a58a6c;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: black;
  background-color: #FFFFFF;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 17px;
  color: black;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

footer ul .modal-header {
  background-color: white;
  color: black;
}

footer ul .modal-body {
  background-color: white;
  color: black;
}

footer ul .modal-body p {
  font-size: 15px;
  margin-bottom: 3em;
}

footer ul .modal-body a {
  font-size: 15px;
  text-decoration: underline;
  color: black;
}

footer ul .modal-body h3 {
  font-weight: bold;
}

footer ul .modal-footer {
  background-color: white;
}

.modal-body{
  color: black;
}
#modalDatenschutz{
  color: black;
}